#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    behaviors {
        rot_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };
        rot_msc: sensor_rotate_msc {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        base {
            bindings = <
                &kp GRAVE  &kp N1     &kp N2     &kp N3     &kp N4     &kp N5        &kp N6    &kp N7     &kp N8     &kp N9    &kp N0     &kp MINUS
                &kp TAB    &kp Q      &kp W      &kp E      &kp R      &kp T         &kp Y     &kp U      &kp I      &kp O     &kp P      &kp LBKT
                &kp CAPS   &kp A      &kp S      &kp D      &kp F      &kp G         &kp H     &kp J      &kp K      &kp L     &kp SEMI   &kp APOS
                &kp LSHFT  &kp Z      &kp X      &kp C      &kp V      &kp B         &kp N     &kp M      &kp COMMA  &kp DOT   &kp QMARK  &kp FSLH
                                      &kp ESC    &kp LCMD   &kp SPACE  &trans        &trans    &kp BSPC   &kp RET    &kp RALT
            >;

            sensor-bindings = <&rot_msc SCRL_LEFT SCRL_RIGHT &rot_msc SCRL_UP SCRL_DOWN>;
        };
    };
};
